#question {
    color: white;
    margin: auto;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}

.user_data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon {
    background-color: white;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    padding: inherit;
}

.fa-clock {
    margin-right: 5px;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-family: 'Sora', sans-serif;
}

.progress-num {
    margin: 0;
    margin-left: 15px;
    font-family: 'Sora', sans-serif;
}

.header {
    margin: 0;
    background-color: black;
    height: 20%;
}

.row {
    margin: 0;
}

.toolbox {
    background-color: #000000;
    height: 20%
}

.btn-danger {
    background-color: #9e2a2b;
}

.btn-danger:hover {
    background-color: #6a040f;
}

.toolbox-title {
    color: white;
    font-size: large;
    margin-top: 10px;
    font-family: 'Sora', sans-serif;
}

.yes {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.disabled {
    background-color: gray;
}

.choice {
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: white;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    line-height: normal;
    margin: 0;
    min-height: 70px;
    max-height: 110px;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fa-clock {
    margin-right: 5px;
}

.choice-left {
    margin-right: 4%;
}

.choice:disabled {
    pointer-events: none;
}

.choice-hover:hover {
    color: #fff;
    background-color: black;
    transform: translateY(-10px);
}

.progress {
    height: 40px;
    border-radius: 50px;
}

.game {
    height: 100%;
}

.btn-end {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    font-weight: 600;
    min-height: 40px;
    min-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    display: block;
    margin: auto;
}

.btn-end:hover {
    background-color: #16437E;
    color: #ffffff;
}

.correct {
    background-color: #40916c;
}

.incorrect {
    background-color: #a22c29;
}

.plus {
    text-shadow: 1px 1px 10px #000000;
    font-size: 150px;
    color: white;
}

.timer-warning {
    background-color: #D4AC2B;
}

.timer-danger {
    background-color: #ba181b;
}

.gameQ {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
}

.btn-choice {
    justify-content: center;
}

.summery {
    text-align: center;
    font-family: 'Sora', sans-serif;
}

.end-body {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.disabled {
    background-color: #495057;
    color: #353535;
    box-shadow: none;
}

.toolbox-icons {
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
}

.fa-stack:hover .icon-color {
    color: white;
    cursor: pointer;
}

.fa-stack:hover .icon-back {
    color: #118ab2;
}

.icon-back-off {
    color: #4a4e69;
}

.icon-off {
    color: #000000;
    transition: color 200ms;
}

.fa-stack:hover .icon-off {
    color: white;
    cursor: pointer;
}

.icon-color {
    color: black;
    transition: color 200ms;
}

.icon-back {
    color: #fff;
    filter: drop-shadow(0 0 0.75rem #cce3de);
    transition: color 200ms;

}

.disable-event {
    pointer-events: none;
}

.disabled-icon {
    color: gray;
}

.disabled-icon-inside {
    color: rgb(92, 91, 91);
}

.logo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

.summery {
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {

    .col-11 {
        width: 90%;
    }

}

@media only screen and (max-width: 1000px) {

    .box {
        height: 1000px;
    }

    .responsive-logo {
        display: none;
    }

    .user_data {
        width: 50%;
    }

    .choice{
        width: 60%;
        margin: 0;
    }
    
    .gameQ{
        justify-content: center;
    }

}

@media only screen and (max-width: 770px) {

    .col-11 {
        width: 85%;
    }

    #question{
        padding-right: 10px;
        padding-left: 10px;
    }

}

@media only screen and (max-width: 500px) {



.col-11 {
    width: 80%;
}

.responsive-hide{
    display: none;
}

}