.btn-choice {
    align-items: center;
    background-color: #adb5bd;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    display: inline-flex;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    justify-content: center;
    letter-spacing: .25px;
    padding: 2px 24px;
    margin-top: 10px;
    margin-right: 10px;
    transition: all 400ms ease-in-out;
    height: 48px;
    font-size: 14px;
    font-weight: 500;
    max-width: 100%;
    width: auto;
}

a{
    text-decoration: none;
}

.icon-btn{
    cursor: pointer;
}

.icon-btn:hover{
    color: #8d99ae;
    cursor: pointer;
}

.icon-color{
    color: black;
}

.logo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row {
    margin: 0;
}

.btn-choice-after {
    background: black;
    color: white;
    width: 300px;
    height: 63px;
    font-size: large;
}

.btn-choice:hover {
    background: black;
    color: white;
}

.btn-choice:visited {
    background: black;
    color: white;
    width: 300px;
    height: 63px;
    font-size: large;
}

.btn-choices {
    padding-right: 130px;
    padding-left: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.go {
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fa-arrow-right {
    margin-left: 15px;
    margin-top: 10px;
}

.btn-quiz {
    align-items: center;
    background-color: #0a9396;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-flex;
    font-family: 'Maven Pro', sans-serif;
    font-size: 50px;
    height: 100px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
  
  .btn-quiz:hover {
    background-color: #13777a;
  }


.center {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}

.header {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    color: #F6F9FE;

}

.header-row {
    align-items: center;
    background-color: black;
    height: 20%;
}

.welcome {
    font-family: 'Secular One', sans-serif;
    font-size: 40px;
}

.all-cat {
    display: flex;
    justify-content: center;
}

.choose-categ {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

.material-icons {
    margin-right: 5px;
}

.amount {
    margin-top: 20px;
}

@keyframes arrow-jump {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.fa-arrow-right {
    -webkit-animation: arrow-jump 1s infinite;
    -moz-animation: arrow-jump 1s infinite;
    -o-animation: arrow-jump 1s infinite;
    animation: arrow-jump 1s infinite;
}

.alert-warning{
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}